<div class="jumbtron">
    <h1 class="display-4 text-center">Empleados de la empresa</h1>
    <hr> 
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar empleado
            </h6>
            <app-agenda></app-agenda>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado de empleados
            </h6>
            <app-list-empleados> </app-list-empleados>
        </div>
    </div>
</div>