<div class="form-group">
    <input type="text" class="form-control" name="filterPost" placeholder="Buscar" [(ngModel)] = "filterPost">
</div>
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Tipo De Documento</th>
            <th scope="col">Numero De Documento</th>
            <th scope="col">Area</th>
            <th scope="col">Sub Area</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let i = index; let empleado of empleadoService.list | filter: filterPost | paginate: { itemsPerPage: 10, currentPage: pageActual }">
        <td>{{ i+1 }}</td>
        <td>{{ empleado.nombre }}</td>
        <td>{{ empleado.apellido }}</td>
        <td>{{ empleado.tipoDeDocumento }}</td>
        <td>{{ empleado.numeroDeDocumento }}</td>
        <td>{{ empleado.area }}</td>
        <td>{{ empleado.subArea }}</td>
        <td>
            <i class="far fa-edit fa-lg text-info" (click) = "editarEmpleado( empleado )" style="cursor: pointer;"></i>
        </td>
        <td>
            <i class="far fa-trash-alt fa-lg text-danger" (click) = "eliminarEmpleado( empleado )"  style="cursor: pointer;"></i>
        </td>
    </tr>
</tbody>
</table>
<pagination-controls (pageChange)="pageActual = $event"></pagination-controls>
